# Node
node_modules/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/
src/boletos/
database.sqlite

# Sistema operacional
.DS_Store
Thumbs.db
